<!-- <template name="pagesCreate">
  {{# Layout template="pageHeading" }}
    {{ i18n 'collections.create.title' collection.singularName }}
  {{/ Layout }}
    {{# if collection.canShowCreate }}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox-title">
            <h5></h5>
          </div>
          <div class="ibox-content">
            {{> quickForm collection=collection id="orionBootstrapCollectionsCreateForm" type="insert" buttonContent=false }}
            <br>
            <div class="buttons text-right">
              <a class="btn btn-default" href="{{ collection.indexPath }}">{{ i18n 'global.cancel' }}</a>
              <a class="btn btn-primary create-btn">{{ i18n 'global.create' }}</a>
            </div>

          </div>

        </div>
      </div>
    </div>
    {{else}}
      <p><b>{{ i18n 'global.noPermission' }}</b></p>
    {{/ if }}
</template> -->
