<template name="AccountsIndex">
  {{# Layout template="pageHeading" }}
    <span class="fa fa-users"></span>&nbsp;{{ i18n 'accounts.index.title' }}
  {{/ Layout }}
  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox-title">
                {{# if userHasPermission 'accounts.showCreate' }}
                  <a href="{{ RouterLayerPathFor 'accounts.create' }}" class="btn btn-primary btn-sm"><span class="fa fa-user-plus"></span>&nbsp;Create User</a>
                {{/ if }}
              </div>
                <div class="ibox-content">
                  {{> tabular table=table class="table index-table"}}
                </div>
              </div>
            </div>
          </div>
</template>
