<template name="myAccountsIndex">
  {{# Layout template="pageHeading" }}
    <span class="fa fa-asterisk"></span>&nbsp;{{ i18n 'accounts.myAccount.title' }}
  {{/ Layout }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-6">
        <div class="widget-head-color-box navy-bg p-lg text-center">
          <h1>{{ currentUser.profile.name }}</h1>
          {{# if currentUser.profile.picture }}
          <div class="m-b-sm">
            <img alt="image" class="img-circle" src="{{ currentUser.profile.picture.url }}">
          </div>
          {{/ if }}
          <div class="text-center">
          {{# each currentUser.roles }}
            <p>
              <span class="label label-danger">{{ this }}</span>
            </p>
          {{/ each }}
          {{# each currentUser.emails }}
            <p>{{ address }}</p>
          {{/ each }}
          </div>
        </div>
        <div class="widget-text-box text-center">        
          <div class="buttons">
            <a class="btn btn-default btn-xs logout">{{ i18n 'global.logout' }}</a>
            <a href="{{ RouterLayerPathFor 'myAccount.profile' }}" class="btn btn-warning btn-xs">{{ i18n 'accounts.updateProfile.title' }}</a>
            <a href="{{ RouterLayerPathFor 'myAccount.password' }}" class="btn btn-info btn-xs">{{ i18n 'accounts.changePassword.title' }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
