<template name="AccountsUpdate">
  {{# Layout template="pageHeading" }}
  <i class="fa fa-pencil"></i>&nbsp;{{ i18n 'accounts.update.title' }}
  {{/ Layout }}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-title">
            <h4>{{ i18n 'accounts.update.sections.profile.title' }}</h4>
          </div>
          <div class="ibox-content">
            {{# autoForm id="accountsUpdateProfileForm" schema=profileSchema type="method-update" doc=user meteormethod="orionAccountsUpdateProfile" }}
              {{> afQuickFields name='profile' }}
              <br>
              <button class="btn btn-primary">{{ i18n 'global.save' }}</button>
            {{/ autoForm }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Emails</h5>
          </div>
          <div class="ibox-content">
            {{# autoForm id="accountsUpdateEmailsForm" schema=emailsSchema type="method-update" doc=user meteormethod="orionAccountsUpdateEmails" }}
              {{> afQuickField name='emails' }}
              <br>
              <button class="btn btn-primary">{{ i18n 'global.save' }}</button>
            {{/ autoForm }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-title">
            <h5>{{ i18n 'accounts.update.sections.roles.title' }}</h5>
          </div>
          <div class="ibox-content">
              <form class="roles">
                <p>{{ i18n 'accounts.update.sections.roles.selectRoles' }}</p>
                {{# each roles }}
                  <div class="i-checks">
                    <label>
                      {{# if hasRole this }}
                        <input type="checkbox" role="{{ this }}" checked><i></i>&nbsp;{{ this }}
                      {{ else }}
                        <input type="checkbox" role="{{ this }}"><i></i>&nbsp;{{ this }}
                      {{/ if }}
                    </label>
                  </div>
                {{/ each }}

                <br>
                <button class="btn btn-primary btn-save">{{ i18n 'global.save' }}</button>
              </form>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ibox">
          <div class="ibox-title">
            <h4>{{ i18n 'accounts.update.sections.changePassword.title' }}</h4>
          </div>
          <div class="ibox-content">
            {{# autoForm id="accountsUpdatePasswordForm" schema=passwordSchema type="method-update" doc=user meteormethod="orionAccountsUpdatePassword" }}
              {{> afQuickField name='password' }}
              {{> afQuickField name='confirm' }}
              <br>
              <button class="btn btn-primary">{{ i18n 'global.save' }}</button>
            {{/ autoForm }}
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">
            <h4>{{ i18n 'accounts.update.sections.deleteUser.title' }}</h4>
          </div>
          <div class="ibox-content">
            <p>
              {{ i18n 'accounts.update.sections.deleteUser.advice' }}
            </p>
            {{# if confirmDelete }}
            <button id="btnConfirmDeleteUser" class="btn btn-large btn-danger" user="{{user._id}}">
              {{ i18n 'global.confirm' }}
            </button>
            {{ else }}
            <button id="btnDeleteUser" class="btn btn-large btn-danger">
              {{ i18n 'accounts.update.sections.deleteUser.button' }}
            </button>
            {{/ if }}
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
  </div>
</template>
