/* Chart button legend */
.red { background-color: red; color: #fff}
.blue { background-color: blue; color: #fff}
.yellow { background-color: yellow; color: #37474f}
.brown { background-color: brown; color: #fff}
.purple { background-color: #8e24aa; color: #fff}
.blue2 { background-color: #2196f3; color: #fff}
.teal { background-color: #1de9b6; color: #fff}
.green { background-color: #388e3c; color: #fff}
.lightGray { background-color: #f9f9f9; padding: 10px 0; border-top: 1px solid #D1DADE; border-bottom:  1px solid #D1DADE }
.oddEnrolled {padding: 10px 0}

tr {cursor: pointer}
td.details-control {
    background: url('public/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('public/details_close.png') no-repeat center center;
}
