/* Chart button legend */
.red { background-color: red; color: #fff}
.blue { background-color: blue; color: #fff}
.yellow { background-color: yellow; color: #37474f}
.brown { background-color: brown; color: #fff}
.purple { background-color: #8e24aa; color: #fff}
.blue2 { background-color: #2196f3; color: #fff}
.teal { background-color: #1de9b6; color: #fff}
.green { background-color: #388e3c; color: #fff}
