<template name="notFound">
    <div class="middle-box text-center animated fadeInDown">
        <img alt="image" class="profile-picture img-circle" src="/images/pinoyAko-profile-152x152.png">
        <h2>Welcome to PAIS</h2>
        <h3 class="font-bold">Enrollments and Claims <br> Insurance Monitoring System</h3>
        <!-- <div class="error-desc">
            <form class="form-inline m-t" role="form">
                <a href="{{ RouterLayerPathFor 'Dashboard' }}" class="btn btn-sm btn-primary">Go to Dashboard</a>
            </form>
        </div> -->
    </div>
</template>
