<template name="Dashboard">
  {{#Layout template="pageHeading" }}
    <span class="fa fa-check"></span>&nbsp;Welcome
    {{ currentUser.profile.name }}
  {{/Layout }}

    {{#if userHasPermission 'showDashboard'}}
    {{#if Template.subscriptionsReady}}
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.index' }}">Enrollments</a>
                </span>
                <h5>Enrollments</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'enrollmentsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Enrollee</a>
                </span>
                <small>Total Enrollments</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.index' }}">Claims</a>
                </span>
                <h5>Claims</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'claimsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Claims</a>
                </span>
                <small>Total Claims</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{> chart}}
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="ibox-title">
              <h3>Enrollments</h3>
            </div>
            <div class="ibox-content">
              {{> enolledTable }}
            </div>
          </div>
        </div>
        <p>
          &nbsp;
        </p>
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox-title">
              <h3 class="m-b-xs">Cause of Death and Medical Claims</h3>
            </div>
            <div class="ibox-content">
              {{> dashboardClaimTable }}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}

    {{#if userHasPermission 'showHQDashboard'}}
    {{#if Template.subscriptionsReady}}
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.index' }}">Enrollments</a>
                </span>
                <h5>Enrollments</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'enrollmentsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Enrollee</a>
                </span>
                <small>Total Enrollments</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.index' }}">Claims</a>
                </span>
                <h5>Claims</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'claimsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Claims</a>
                </span>
                <small>Total Claims</small>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          {{> chart}}
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Enrollments per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyEnrolleesDashboard }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Claims per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyClaimsDashboard }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Loss Ratio</h5>
            </div>
            <div class="ibox-content">
              {{> lossRatioDashBoard }}
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Total Premium for KMBI MI Principal</h5>
            </div>
            <div class="ibox-content">
              {{> TotalPremiumPrincipalDashBoard}}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Total Premium for KMBI MI Children</h5>
            </div>
            <div class="ibox-content">
              {{> TotalPremiumChildrenDashBoard}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Total Premium for KMBI MI Spouse</h5>
            </div>
            <div class="ibox-content">
              {{> TotalPremiumSpouseDashBoard}}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Total Premium for KMBI MI Siblings</h5>
            </div>
            <div class="ibox-content">
              {{> TotalPremiumSiblingsDashBoard}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Total Premium for KMBI MI Parents</h5>
            </div>
            <div class="ibox-content">
              {{> TotalPremiumParentsDashBoard}}
            </div>
          </div>

        </div>

      </div>
      {{/if}}
    {{/if}}

    {{#if userHasPermission 'showBranchDashboard' }}
    {{#if Template.subscriptionsReady}}
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.index' }}">Enrollments</a>
                </span>
                <h5>Enrollments</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'enrollmentsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Enrollee</a>
                </span>
                <small>Total Enrollments</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.index' }}">Claims</a>
                </span>
                <h5>Claims</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'claimsCount' }}</h1>
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.create' }}">
                    <span class="fa fa-plus"></span>&nbsp;Add Claims</a>
                </span>
                <small>Total Claims</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Enrollments per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyEnrolleesDashboard }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Claims per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyClaimsDashboard }}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}
    {{#if userHasPermission 'showInsurerDashboard' }}
    {{#if Template.subscriptionsReady}}
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-primary" href="{{ RouterLayerPathFor 'collections.enrollments.index' }}">Enrollments</a>
                </span>
                <h5>Enrollments</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'enrollmentsCount' }}</h1>
                <small>Total Enrollments</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <span class="pull-right">
                  <a class="label label-info" href="{{ RouterLayerPathFor 'collections.claims.index' }}">Claims</a>
                </span>
                <h5>Claims</h5>
              </div>
              <div class="ibox-content">
                <h1 class="no-margins">{{ getPublishedCount 'claimsCount' }}</h1>
                <small>Total Claims</small>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Enrollments per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyEnrolleesDashboard }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ibox-title">
              <h5>Claims per branch</h5>
            </div>
            <div class="ibox-content">
              {{> companyClaimsDashboard }}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}

</template>

<template name="enolledTable">
  <div id="data">
    <table class="table table-striped tablesorter table-responsive" id="enrollmentsTable">
      <thead>
        <tr>
          <th>Date Enrolled</th>
          <th>Principal Name</th>
          <th>Products Availed</th>
          <th>Month Left</th>
          <th>Company</th>
          <th>Branch</th>
          <th>Date of Birth</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>Beneficiary</th>
          <th>Marital status</th>
          <th>Spouse Name</th>
          <th>Children</th>
          <th>Parent</th>
          <th>Siblings</th>

        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Date Enrolled</th>
          <th>Principal Name</th>
          <th>Products Availed</th>
          <th>Month Left</th>
          <th>Company</th>
          <th>Branch</th>
          <th>Date of Birth</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>Beneficiary</th>
          <th>Marital status</th>
          <th>Spouse Name</th>
          <th>Children</th>
          <th>Parent</th>
          <th>Siblings</th>

        </tr>
      </tfoot>
      <tbody>
        {{#each enrollmentsList}}
          <tr>
            <td>{{ datelll createdAt }}</td>
            <td>{{ fullName }}</td>
            <td>{{ productsAvailed }}</td>
            <td>{{> countdownDashboard }}</td>
            <td>{{ companyName company }}</td>
            <td>{{ branchName branch }}</td>
            <td>{{ datell birthDate }}</td>
            <td>{{ ageOfEnrollee }}</td>
            <td>{{ gender }}</td>
            <td>{{ phone }}</td>
            <td>{{ address }}</td>
            <td>{{ city }}</td>
            <td>{{ beneficiaryOne }}</td>
            <td>{{ maritalStatus }}</td>
            <td>{{ spouseName }}</td>
            <td>{{ childrenName}}</td>
            <td>{{ parentName }}</td>
            <td>{{ siblingName }}</td>

          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col col-md-6">
      <span class="btn btn-primary">Total of
        <strong>{{ getPublishedCount 'enrollmentsCount' }}</strong>
        enrollments</span>
    </div>
  </div>
</template>

<template name="dashboardClaimTable">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>

          </div>
          <div>
            {{> medicalClaim}}
          </div>
          <div>
            {{> deathClaim}}
          </div>
          <div class="m-t-md">
            <small class="pull-right">
              <i class="fa fa-clock-o"></i>
              Updated on
              {{ updated }}
            </small>
          </div>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="ibox-title">
      <span class="label label-danger btn-xs pull-right text-right">More than or equal to 10 days processed </span>
      <span class="label label-primary btn-xs pull-right text-right">Less than 10 days processed </span>&nbsp;
      <span class="label label-default btn-xs pull-right text-rigt">Processing Stopped</span>&nbsp;

      <span class="pull-right text-right"><strong>Legend Days Processed: </strong></span>

  </div>
  <div id="data">
    <table class="table table-striped tablesorter" id="claimantTable">
      <thead>
        <tr>
          <th>Date Filed</th>
          <th>Days Processed</th>
          <th>Reference Number</th>
          <th>Principal Name</th>
          <th>Client Type</th>
          <th>Insured Name</th>
          <th>Status</th>
          <th>Amount Paid</th>
          <th>Partial Payment</th>
          <th>Cause of Death</th>
          <th>Medical</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Date Filed</th>
          <th>Days Processed</th>
          <th>Reference Number</th>
          <th>Principal Name</th>
          <th>Client Type</th>
          <th>Insured Name</th>
          <th>Status</th>
          <th>Amount Paid</th>
          <th>Partial Payment</th>
          <th>Cause of Death</th>
          <th>Medical</th>
        </tr>
      </tfoot>
      <tbody>
        {{#each claimsList }}
          <tr>
            <td>{{ filedDate dateFiled }}</td>
            <td>{{> daysCountdownDashboard }}</td>
            <td>{{ claimNumber }}</td>
            <td>{{ insuredName enrollmentId }}</td>
            <td>{{ clientType }}</td>
            <td>{{ dependent }}</td>
            <td>{{> claimedStatus }}</td>
            <td>{{ amountPaid }}</td>
            <td>{{ partialPayment }}</td>
            <td>{{ causeOfDeath }}</td>
            <td>{{ medical }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <hr>
  <div class="row">
    <div class="col col-md-6">
      <span class="btn btn-info">Total of
        <strong>{{ getPublishedCount 'claimsCount' }}</strong>
        claims</span>
    </div>
  </div>
</template>

<template name="medicalClaim">

  <div id="claimChartMedical" style="min-width: 310px; height: 400px;"></div>

</template>

<template name="deathClaim">

  <div id="claimChartDeath" style="min-width: 310px; height: 400px;"></div>

</template>

<template name="countMonth">
  <label class="label label-primary"></label>
</template>

<template name="childrenDep">
  {{#each childColumn}}
    <td>{{childrenName }}</td>
  {{/each}}
</template>

<template name="companyEnrolleesDashboard">
  <table class=" table table-striped tablesorter" id="branchEnrolleeTable">
    <thead>
      <tr>
        <th>Branches</th>
        <th>Total number of Enrollments</th>
      </tr>
    </thead>
    <tbody>
      {{> branchList }}
    </tbody>
  </table>
</template>

<template name="branchList">
  {{#if Template.subscriptionsReady}}
  {{#each branchesEnrolleeCount }}
    <tr>
      <td>{{ branchName _id }}</td>
      <td>{{ count }}</td>
    </tr>
  {{/each}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>

<template name="companyClaimsDashboard">
  <table class=" table table-striped tablesorter" id="branchClaimTable">
    <thead>
      <tr>
        <th>Branches</th>
        <th>Total Claims</th>
        <th>Total Approved </th>
        <th>Total Pending</th>
        <th>Total Denied</th>
      </tr>
    </thead>
    <tbody>
      {{> claimList }}
    </tbody>
  </table>
</template>

<template name="lossRatioDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Product</th>
        <!-- <th>Total Products</th> -->
        <th>Total Premium</th>
        <th> / </th>
        <th>Total Amount Paid</th>
        <th> = </th>
        <th>Money Retained</th>
      </tr>
    </thead>
    <tbody>
      {{> lossRatio}}
    </tbody>
  </table>
</template>

<template name="TotalPremiumPrincipalDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Branch</th>
        <!-- <th>Product</th> -->
        <th>Total Premium</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{> TotalPrincipalPremium}}
    </tbody>
  </table>
</template>

<template name="TotalPremiumChildrenDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Branch</th>
        <!-- <th>Product</th> -->
        <th>Total Premium</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{> TotalChildrenPremium}}
    </tbody>
  </table>
</template>

<template name="TotalPremiumSpouseDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Branch</th>
        <!-- <th>Product</th> -->
        <th>Total Premium</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{> TotalSpousePremium}}
    </tbody>
  </table>
</template>

<template name="TotalPremiumSiblingsDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Branch</th>
        <!-- <th>Product</th> -->
        <th>Total Premium</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{> TotalSiblingsPremium}}
    </tbody>
  </table>
</template>

<template name="TotalPremiumParentsDashBoard">
  <table class="table table-striped table-responsive" id="lossRatio">
    <thead>
      <tr>
        <th>Branch</th>
        <!-- <th>Product</th> -->
        <th>Total Premium</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{> TotalParentsPremium}}
    </tbody>
  </table>
</template>

<template name="countdownDashboard">
  <button class="btn {{buttonClass}} btn-xs">{{ monthCount }}</button>
</template>

<template name="daysCountdownDashboard">
    <span class="label {{buttonClass}} label-xs">{{ daysProcessed }}</span>
</template>

<template name="claimList">
  {{#if Template.subscriptionsReady}}
  {{#each branchClaimsCounts }}
    <tr>
      <td>{{ branchName _id }}</td>
      <td>{{ total }}</td>
      <td> {{ totalApproved}}  </td>
      <td> {{ totalPending}}  </td>
      <td>{{ totalDenied }}</td>
    </tr>
  {{/each}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>

<template name="lossRatio">
{{#if Template.subscriptionsReady}}
{{#each products}}
    <tr>
      <td>{{ productName _id }}</td>
      <!-- <td>{{totalProducts}}</td> -->
      <td> {{ premiumPerProducts }}</td>

      <td> / </td>

      <td> {{ amountPaid }}</td>

      <td> = </td>
      <td>{{retainedMoney}}%</td>
    </tr>
    {{/each}}
{{/if}}
</template>

<template name="TotalPrincipalPremium">
  {{#if Template.subscriptionsReady}}
  {{#each enrollmentsPremium}}
      <tr>
        <td> {{branchName branch }}</td>
        <td> {{ totalPremium }}</td>
        <td> {{monthName _id }}</td>
        <td> {{ year }}</td>
      </tr>
      {{/each}}
      {{else}}
        {{> loader}}
  {{/if}}
</template>

<template name="TotalChildrenPremium">
  {{#if Template.subscriptionsReady}}
  {{#each enrollmentsChildrenPremium}}
      <tr>
        <td> {{ branchName branch}}</td>
        <td> {{ totalPremium }}</td>
        <td> {{monthName _id }}</td>
        <td> {{ year }}</td>
      </tr>
      {{/each}}
      {{else}}
        {{> loader}}
  {{/if}}
</template>

<template name="TotalSpousePremium">
  {{#if Template.subscriptionsReady}}
  {{#each enrollmentsSpousePremium}}
      <tr>
        <td> {{ branchName branch}}</td>
        <td> {{ totalPremium }}</td>
        <td> {{monthName _id }}</td>
        <td> {{ year }}</td>
      </tr>
      {{/each}}
      {{else}}
        {{> loader}}
  {{/if}}
</template>

<template name="TotalSiblingsPremium">
  {{#if Template.subscriptionsReady}}
  {{#each enrollmentsSiblingsPremium}}
      <tr>
        <td> {{ branchName branch}}</td>
        <td> {{ totalPremium}}</td>
        <td> {{monthName _id }}</td>
        <td> {{ year }}</td>
      </tr>
      {{/each}}
      {{else}}
        {{> loader}}
  {{/if}}
</template>

<template name="TotalParentsPremium">
  {{#if Template.subscriptionsReady}}
  {{#each enrollmentsParentsPremium}}
      <tr>
        <td> {{ branchName branch}}</td>
        <td> {{ totalPremium}}</td>
        <td> {{monthName _id }}</td>
        <td> {{ year }}</td>
      </tr>
      {{/each}}
      {{else}}
        {{> loader}}
  {{/if}}
</template>
