<template name="children">
  {{> afQuickField name="childrenName" }}
  {{> afQuickField name="childrenBirthdate" }}
  {{> afQuickField name="childrenAge" }}
  {{> afQuickField name="childrenMaritalStatus" }}
  {{> afQuickField name="childrenGender" }}
</template>
<template name="children2">
  {{> children }}
  {{> afQuickField name="children2Name" }}
  {{> afQuickField name="children2Birthdate" }}
  {{> afQuickField name="children2Age" }}
  {{> afQuickField name="children2MaritalStatus" }}
  {{> afQuickField name="children2Gender" }}
</template>
<template name="children3">
  {{> children2 }}
  {{> afQuickField name="children3Name" }}
  {{> afQuickField name="children3Birthdate" }}
  {{> afQuickField name="children3Age" }}
  {{> afQuickField name="children3MaritalStatus" }}
  {{> afQuickField name="children3Gender" }}
</template>
<template name="children4">
  {{> children3 }}
  {{> afQuickField name="children4Name" }}
  {{> afQuickField name="children4Birthdate" }}
  {{> afQuickField name="children4Age" }}
  {{> afQuickField name="children4MaritalStatus" }}
  {{> afQuickField name="children4Gender" }}
</template>
<template name="children5">
  {{> children4 }}
  {{> afQuickField name="children5Name" }}
  {{> afQuickField name="children5Birthdate" }}
  {{> afQuickField name="children5Age" }}
  {{> afQuickField name="children5MaritalStatus" }}
  {{> afQuickField name="children5Gender" }}
</template>
<template name="children6">
  {{> children5 }}
  {{> afQuickField name="children6Name" }}
  {{> afQuickField name="children6Birthdate" }}
  {{> afQuickField name="children6Age" }}
  {{> afQuickField name="children6MaritalStatus" }}
  {{> afQuickField name="children6Gender" }}
</template>
<template name="children7">
  {{> children6 }}
  {{> afQuickField name="children7Name" }}
  {{> afQuickField name="children7Birthdate" }}
  {{> afQuickField name="children7Age" }}
  {{> afQuickField name="children7MaritalStatus" }}
  {{> afQuickField name="children7Gender" }}
</template>
<template name="children8">
  {{> children7 }}
  {{> afQuickField name="children8Name" }}
  {{> afQuickField name="children8Birthdate" }}
  {{> afQuickField name="children8Age" }}
  {{> afQuickField name="children8MaritalStatus" }}
  {{> afQuickField name="children8Gender" }}
</template>
<template name="children9">
  {{> children8 }}
  {{> afQuickField name="children9Name" }}
  {{> afQuickField name="children9Birthdate" }}
  {{> afQuickField name="children9Age" }}
  {{> afQuickField name="children9MaritalStatus" }}
  {{> afQuickField name="children9Gender" }}
</template>
<template name="children10">
  {{> children9 }}
  {{> afQuickField name="children10Name" }}
  {{> afQuickField name="children10Birthdate" }}
  {{> afQuickField name="children10Age" }}
  {{> afQuickField name="children10MaritalStatus" }}
  {{> afQuickField name="children10Gender" }}
</template>
