<template name="sibling">
  {{> afQuickField name="siblingName" }}
  {{> afQuickField name="siblingBirthdate" }}
  {{> afQuickField name="siblingAge" }}
</template>
<template name="sibling2">
  {{> sibling }}
  {{> afQuickField name="sibling2Name" }}
  {{> afQuickField name="sibling2Birthdate" }}
  {{> afQuickField name="sibling2Age" }}
</template>
<template name="sibling3">
  {{> sibling2 }}
  {{> afQuickField name="sibling3Name" }}
  {{> afQuickField name="sibling3Birthdate" }}
  {{> afQuickField name="sibling3Age" }}
</template>
<template name="sibling4">
  {{> sibling3 }}
  {{> afQuickField name="sibling4Name" }}
  {{> afQuickField name="sibling4Birthdate" }}
  {{> afQuickField name="sibling4Age" }}
</template>
<template name="sibling5">
  {{> sibling4 }}
  {{> afQuickField name="sibling5Name" }}
  {{> afQuickField name="sibling5Birthdate" }}
  {{> afQuickField name="sibling5Age" }}
</template>
<template name="sibling6">
  {{> sibling5 }}
  {{> afQuickField name="sibling6Name" }}
  {{> afQuickField name="sibling6Birthdate" }}
  {{> afQuickField name="sibling6Age" }}
</template>
<template name="sibling7">
  {{> sibling6 }}
  {{> afQuickField name="sibling7Name" }}
  {{> afQuickField name="sibling7Birthdate" }}
  {{> afQuickField name="sibling7Age" }}
</template>
<template name="sibling8">
  {{> sibling7 }}
  {{> afQuickField name="sibling8Name" }}
  {{> afQuickField name="sibling8Birthdate" }}
  {{> afQuickField name="sibling8Age" }}
</template>
<template name="sibling9">
  {{> sibling8 }}
  {{> afQuickField name="sibling9Name" }}
  {{> afQuickField name="sibling9Birthdate" }}
  {{> afQuickField name="sibling9Age" }}
</template>
<template name="sibling10">
  {{> sibling9 }}
  {{> afQuickField name="sibling10Name" }}
  {{> afQuickField name="sibling10Birthdate" }}
  {{> afQuickField name="sibling10Age" }}
</template>
