<template name="enrollmentsUpdate">
    {{# Layout template="pageHeading" }}
      <span class="fa fa-pencil"></span>&nbsp;{{i18n 'collections.update.title' collection.singularName }}
    {{/ Layout }}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-title">
              <h4></h4>
            </div>
            <div class="ibox-content">
              {{#if Template.subscriptionsReady}}
                {{# if item.canShowUpdate }}
                  <p>
                    Loan cycle:{{ versions }}
                    <!-- <select class='form-control'>
                      {{> docVersion}}
                    </select> -->
                  </p>
                  {{#autoForm collection=collection doc=item id="orionBootstrapCollectionsUpdateForm" type="update" }}
                  <fieldset>
                    <legend>Personal Information</legend>
                    {{> afQuickField name="fullName" disabled=true}}
                    {{> afQuickField name="productId" }}
                    {{> afQuickField name="tin" data-mask="99-9999999" disabled=true}}
                    {{> afQuickField name="birthdate" disabled=true}}
                    {{> afQuickField name="ageOfEnrollee" disabled=true}}
                    {{> afQuickField name="gender" disabled=true}}
                    {{> afQuickField name="phone" }}
                    {{> afQuickField name="address" }}
                    {{> afQuickField name="city" }}
                  </fieldset>
                  {{> afQuickField name="beneficiary" }}
                  <fieldset class="form-group">
                    <legend>Policy Details</legend>
                    {{> afQuickField name="effectivityDate" disabled=true}}
                    {{> afQuickField name="maturityDate" disabled=true}}
                  </fieldset>
                  <fieldset>
                    <legend>Civil Status</legend>
                    {{> afQuickField name="maritalStatus" options="allowed" noselect=true template="bootstrap3-inline"}}
                      {{#if afFieldValueIs name="maritalStatus" value="Married" }}
                        {{> afQuickField name="spouseName" }}
                        {{> afQuickField name="spouseDateOfBirth" }}
                        {{> afQuickField name="spouseAge" }}
                        {{> afQuickField name="children" }}
                      {{/if}}
                      {{#if afFieldValueIs name="maritalStatus" value="Widow" }}
                        {{> afQuickField name="spouseName" }}
                        {{> afQuickField name="spouseDateOfBirth" }}
                        {{> afQuickField name="spouseAge" }}
                        {{> afQuickField name="children" }}
                      {{/if}}
                      {{#if afFieldValueIs name="maritalStatus" value="Annuled" }}
                        {{> afQuickField name="spouseName" }}
                        {{> afQuickField name="spouseDateOfBirth" }}
                        {{> afQuickField name="spouseAge" }}
                        {{> afQuickField name="children" }}
                      {{/if}}
                  </fieldset>
                  {{> afQuickField name="parent" }}
                  {{> afQuickField name="sibling" }}
                  <br>
                  <div class="buttons text-right">
                    <a class="btn btn-default" href="{{ collection.indexPath }}">{{ i18n 'global.cancel' }}</a>
                    {{# if item.canShowRemove }}
                      <a class="btn btn-danger" href="{{ collection.deletePath item._id }}">{{i18n 'global.delete' }}</a>
                    {{/ if }}
                    <button class="btn btn-primary save-btn" type="submit">{{ i18n 'global.save' }}</button>
                  </div><br class="clear">
                  {{/autoForm}}
                {{/ if }}
                {{  else }}
                  <p>
                    <strong>Loading...</strong>
                  </p>
              {{/ if }}
            </div>


          </div>
        </div>
      </div>
    </div>
</template>

<template name="loancycle">
  <!-- {{#each versions}} -->
    {{_versions}}
  <!-- {{/each}} -->
</template>

<template name="docVersion">
  <option value="option">{{versions}}</option>
</template>
