<template name="login">
  <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
          <div>
            <span>
              <img alt="image" class="profile-picture img-circle" src="/images/pinoyAko-profile-152x152.png">
            </span>
              <h2 class="logo-name">Easy IMS</h2>
              <h3>PinoyAko Enrollments and Claims Monitoring Insurance System</h3>
              {{> atForm state='signIn' }}
              <p class="m-t"> <small>PAIS &copy; 2015</small> </p>
          </div>
        </div>
    </div>
</template>
