<template name="claimsUpdate">
    {{# Layout template="pageHeading" }}
      <span class="fa fa-pencil"></span>&nbsp;{{i18n 'collections.update.title' collection.singularName }}
    {{/ Layout }}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-title">
              <span class="pull-right">&nbsp;<a href="{{ RouterLayerPathFor 'claimApproval' }}" class='btn btn-sm btn-warning'><span class="fa fa-file-pdf-o"></span>&nbsp;Generate Approval Letter</a> </span>
            </div>
            <div class="ibox-content">
              {{#if Template.subscriptionsReady}}
                {{# if item.canShowUpdate }}
                  {{> quickForm collection=collection doc=item id="orionBootstrapCollectionsUpdateForm" type="update" buttonContent=false }}
                  <p>&nbsp;</p>
                  <div class="buttons text-right">
                    <a class="btn btn-default" href="{{ collection.indexPath }}">{{ i18n 'global.cancel' }}</a>
                    {{# if item.canShowRemove }}
                      <a class="btn btn-danger" href="{{ collection.deletePath item._id }}">{{i18n 'global.delete' }}</a>
                    {{/ if }}
                    <a class="btn btn-primary save-btn">{{ i18n 'global.save' }}</a>
                  </div>
                {{/ if }}
              {{/ if }}
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
