<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{> yield }}</h2>
            <!-- <ol class="breadcrumb">
                <li>
                    <i class="fa fa-tachometer"></i>&nbsp;<a href="{{ RouterLayerPathFor routeName='Dashboard' }}">Dashboard</a>
                </li>
            </ol> -->
        </div>
    </div>
</template>
<template name="Title">
  <h1 class="title">
    {{> yield }}
  </h1>
  <hr>
</template>
