<template name="myDictionaryUpdate">

  {{# Layout template="pageHeading" }} {{ i18n 'dictionary.update.title' }}{{/ Layout}}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox-title">
          <h5>{{> reactiveTemplate template="tabs" data=getDataForTabs }}</h5>
        </div>
        <div class="ibox-content">
          {{# autoForm collection="orion.dictionary" id="updateDictionaryForm" type="update" doc=getDoc }}
            {{# if currentCategory }}
              {{> afQuickFields name=currentCategory }}
            {{/ if }}
            <br>
            <div class="text-right">
              <button class="btn btn-primary">{{ i18n 'global.save' }}</button>
            </div>
          {{/ autoForm }}
        </div>
      </div>
    </div>
  </div>

</template>
